<h1>All Workouts</h1>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Workout Tracker</title>
        <link href="CSS/style.css" rel="stylesheet">
    </head>
    <body>
        
        <nav>
            <button id="homeBtn" onclick="navigateTo('/home')">Home</button>
            <button id="addBtn" onclick="navigateTo('/add')">Add Workout</button>
            <button id="removeBtn" onclick="navigateTo('/remove')">Remove Workout</button>
        </nav>
        
        <div id="app">
            <h2>Listing workouts...</h2>
        </div>
        <template id="workout-card-template">
            <div class="workout-card">
                <h2 class="workout-name"></h2>
                <div class="exercise-container"></div>
            </div>
        </template>
        
        <div id="workoutList"></div>
        
        <script src="/routes.js"></script>
        <script src="/view/home.js"></script>

</body>
</html>